<div class="space-show-container">
  <h1 class="space-show-title"><%= @space.name %></h1>

  <div class="space-show-detail">
    <p class="space-show-description"><%= @space.description %></p>
    <p class="space-show-info">Required Age Group: <strong><%= @space.required_age_group&.name || "None" %></strong></p>
    <p class="space-show-info">Creator: <strong><%= @space.creator.email %></strong></p>
  </div>
</div>